!!! 5

- ie_html :class=>'no-js' do

  %head
    %title #{@title}
    
    /[if lt IE 9]
      %script{ :type=>"text/javascript", :src=>"/js/html5.js" }
    
    %script{ :type=>"text/javascript", :src=>"/js/jquery.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.metadata.js" }
    
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/main.css" }
  
  %body{ :class=>[page_class] }
    
    %section.Header#Header
      .HeaderWrapper
        .Logo#Logo
          %a{ :href=>"/" }
            %img{ :src=>"/img/site_logo.gif" }
        %h1 #{@h1 || @title}
        %nav.MainNav#MainNav
          %ul.sf-menu.sf-expand-left.sf-skin-main-nav
            %li
              %a{ } Main Menu
              %ul
                - 10.times do |i|
                  %li
                    <a href="#">#{Faker::Lorem.words(4).join(" ")}</a>
                    - if i%2 == 0
                      %ul
                        - 3.times do |j|
                          %li
                            <a href="#">#{Faker::Lorem.words(4).join(" ")}</a>
    
    %section.Main#Main
      .MainWrapper
        
        %section.TopPageNav#TopPageNav
          = render_partial "shared/page_nav"
          
          %nav
            %ul
              %li
                %a Basics
        
        %section.Content#Content
          .ContentWrapper
            = @content
        
        %section.BottomPageNav#BottomPageNav
          = render_partial "shared/page_nav"
    
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.hoverIntent.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/superfish.js" }
    %script{ :type=>"text/javascript", :src=>"/js/site.js" }
    
    = render_partial "shared/debug_info"
