!!! 5

- ie_html :class=>'no-js' do

  %head
    %title #{@title}
    
    /[if lt IE 9]
      %script{ :type=>"text/javascript", :src=>"/js/html5.js" }
    
    %script{ :type=>"text/javascript", :src=>"/js/jquery.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.metadata.js" }
    
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/main.css" }
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/sf-menu/base.css" }
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/sf-menu/skin/main-nav.css" }
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/sf-menu/skin/sub-nav.css" }
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/kwicks/sub-nav.css" }
  
  %body{ :class=>[page_class] }
    
    %header.Header#Header
      .HeaderWrapper
        .Logo#Logo
          %a{ :href=>"/" }
            %img{ :src=>"/img/site_logo.gif" }
        %section.TitleBar
          %h1 #{@h1 || @title}
          %nav.MainNav#MainNav
            = render_partial "shared/main_nav"
    
    %section.Main#Main
      .MainWrapper
        
        %section.TopPageNav#TopPageNav
          = render_partial "shared/page_nav"
        
        - if @subnav
          %nav.SubNav#SubNav
            = render_partial "shared/sub_nav"
        
        %section.Content#Content
          .ContentWrapper
            = @content
        
        %section.BottomPageNav#BottomPageNav
          = render_partial "shared/page_nav"
    
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.hoverIntent.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/superfish.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.kwicks.js" }
    %script{ :type=>"text/javascript", :src=>"/js/site.js" }
    
    = render_partial "shared/debug_info"
