- @title = "Bank Secrecy Act (BSA)"

%section
  %h2 #{Faker::Lorem.sentence(2)}
  %p #{Faker::Lorem.paragraph}
%section
  %h2 #{Faker::Lorem.sentence(2)}
  %p #{Faker::Lorem.paragraph}
%section
  %h2 #{Faker::Lorem.sentence(2)}
  %p #{Faker::Lorem.paragraphs(1)}