- @title = "Bank Secrecy Act (BSA)"

.row
  .col.grid_12
    %section
      %h2 #{Faker::Lorem.sentence(2)}
      .content_img.aligned_right
        %img{ :src=>"/img/content/man.jpg" }
      :markdown
        #{Faker::Lorem.paragraphs(3) * "\n\n"}

.row
  .col.grid_8
    %section
      %h3 Top Row
      .content_img.aligned_right
        %img{ :src=>"/img/content/woman.jpg" }
      :markdown
        #{Faker::Lorem.paragraphs(3) * "\n\n"}
    .row
      .col.grid_4
        %section
          %h3 Row 2 Cell 1
          %p #{Faker::Lorem.paragraph}
      .col.grid_4
        %section
          %h3 Row 2 Cell 2
          %p #{Faker::Lorem.paragraph}
  .col.grid_4
    %section
      %h3 Right Col
      %p #{Faker::Lorem.paragraph}

.row
  .col.grid_12
    %section
      %h3 #{Faker::Lorem.sentence(2)}
      %p #{Faker::Lorem.paragraph}